<div style="padding: 10px">
  <input type="text" data-dojo-type="dijit.form.TextBox" name="name" style="width:100%" value="${annotation.properties.text}" data-dojo-attach-event="onChange:_onTextChange">
  <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'LuciadEditController', showLabel: false"
          type="button" data-dojo-attach-event="onClick:_onEditClicked">Edit</button>
  <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconDelete', showLabel: false"
            type="button" data-dojo-attach-event="onClick:_onRemoveClicked">Remove</button>

</div>