<div id="blueforcespane" class="formpanel" style="padding:10px">
    <label>Name</label>
    <input dojoType="dijit.form.TextBox"
           class="forminput"
           name="name"
           value="${unit.properties.name}"
           style="width:100%"
           readonly="readonly"
           type="text">
    <label>Longitude</label>
    <input dojoType="cop.ui.LongitudeTextBox"
           data-dojo-attach-point="lon"
           class="forminput"
           name="lon"
           value="${unit.shape.x}"
           style="width:100%"
           readonly="readonly"
           type="text">
    <label>Latitude</label>
    <input dojoType="cop.ui.LatitudeTextBox"
           data-dojo-attach-point="lat"
           class="forminput"
           name="lat"
           value="${unit.shape.y}"
           style="width:100%"
           readonly="readonly"
           type="text">
    <label>Effectiveness</label>
    <input dojoType="dijit.form.NumberTextBox"
           class="forminput"
           constraints="{pattern: '#%'}"
           value="${unit.properties.combatEffectiveness}"
           name="combatEffectiveness"
           style="width:100%"
           readonly="readonly"
           type="text">
</div>