<div style="text-align: center; padding-top: 5px;">
  <link type="text/css" rel="stylesheet" href="../../dojox/image/resources/Lightbox.css">
  <a dojoType="dojox.image.Lightbox" data-dojo-attach-point="box" group="spotdata" title="Spot Information" href="${imgURL}"><img src="${imgURL}" height="120px"/></a>
</div>