#map {
  background-image: none;
}

.Road {
  border-radius: 7px;
  padding: 2px;
  border: 2px solid #ffffff;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}

.Interstate {
  background-color: rgb(47, 90, 230);
  font-size: 16px;
}

.USRoute {
  background-color: rgb(255, 166, 0);
  font-size: 14px;
}

.StateRoute {
  background-color: rgb(255, 252, 184);
  font-size: 13px;
}

.Road {
  background-color: rgb(214, 219, 231);
  font-size: 12px;
}

.Street {
  background-color: rgb(214, 219, 231);
  font-size: 10px;
}