<div>
  <div class="FoldableLayerControlButton"
         data-dojo-attach-point="toggleButtonNode"
         data-dojo-attach-event="onclick: onToggleControl"></div>
  <div class="FoldableLayerControlPanel"
       data-dojo-attach-point="panelNode">
  </div>
</div>