@import url("../../common/scaleIndicator/ScaleIndicator.css");
@import url("../../common/mouseLocation/MouseLocationComponent.css");

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
}

h1 {
    margin-top: 0;
}

#wrapper {
    width: 95%;
    /*height: 95%;*/
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
}

/*style that displays an image in the bottom left corner of the parent div, parent div should have position: relative*/
/* #snippet logocss */
#logo, .logo {
    width: 120px;
    height: 33px;
    padding: 0;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 400;
    background-image: url("../../../luciad/resources/css/images/logo_luciad_blue.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}
/* #endsnippet logocss */


/**************************** IPAD Specific CSS ****************************/

@media
only screen and (device-width: 768px), /* iPad */
only screen and (device-width: 768px) and (-webkit-device-pixel-ratio: 2), /* iPad retina */
only screen and (device-width: 320px), /* iPhone */
only screen and (device-width: 320px) and (-webkit-device-pixel-ratio: 2) /* iPhone retina */
{ /* iPhone */

    #wrapper {
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    h1.sampletitle, #sample_description {
        display: none;
    }

    #map {
        margin: 0;
        padding: 0;
        border: 0;
        height: 100%;
        width: 100%;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}

