.luciad .lcdBalloon {
  z-index: 400;
}

.luciad .lcdBalloon .lcdFrame {
  position: relative;
  color: rgb(240, 240, 240);
  background-color: rgba(13, 20, 28, 0.95);
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  /*-o-border-radius: 4px;*/
  /*border-radius: 4px;*/
  -webkit-box-shadow: 5px 5px 2px rgba(13, 20, 28, 0.7);
  -moz-box-shadow: 5px 5px 2px rgba(13, 20, 28, 0.7);
  -o-box-shadow: 5px 5px 2px rgba(13, 20, 28, 0.7);
  box-shadow: 5px 5px 2px rgba(13, 20, 28, 0.7);
  /*    background: -webkit-gradient(linear, 0 0, 0 100%, from(#faf0e6), to(#ffa500));
background: -moz-linear-gradient(#faf0e6, #ffa500);
background: -o-linear-gradient(#faf0e6, #ffa500);
background: linear-gradient(#faf0e6, #ffa500); */
}

.luciad .lcdBalloon .lcdHeader {
  width: 100%;
  height: 20px;
  margin: 0;
  border: 0;
  padding: 0;
}

.luciad .lcdBalloon .lcdContent {
  width: 200px;
  padding: 0 10px 0 10px;
  overflow: auto;
}

.luciad .lcdBalloon .lcdClose {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  right: 3px;
  background-image: url('../images/close-icon-selected.png');
  background-size: 100%;
  -moz-background-size: 20px 20px;
}

.luciad .lcdBalloon .lcdClose:hover {
  background-image: url('../images/close-icon.png');
}

input[type=range]::-ms-tooltip {
  display: none;
}