@import "../../resources/css/samples.css";
@import "../../common/layertreecontrol/LayerTreeControl.css";
@import "../../common/mouseLocation/MouseLocationComponent.css";
@import "./GazetteerControl.css";

#logo {
  bottom: 10px;
}

.securityBanner {
  background-color: rgb(195, 223, 166);
  padding: 2px 0 2px 0;
  height: 16px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  z-index: 500;
  opacity: 0.9;
}

.securityBannerClassified {
  background-color: rgb(255, 128, 128);
}

#securityHeader {
  top: 0;
  left: 0;
}

#securityFooter {
  bottom: 0;
  left: 0;
}

#mapcontainer {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  top: 20px;
  background-color: #181818;
}

.centercontainer {
  position: relative;
  margin: auto;
  /*width: 18em;*/
  width: auto;
  height: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
}

#headercontrollerscontainer {
  position: absolute;
  top: 31px;
  left: 15px;
  float: right;
  padding: 5px 5px 5px 5px;
  border: 5px solid rgb(240, 240, 240);
  border-radius: 5px;
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*-o-border-radius: 0px;*/
  -webkit-box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -o-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  background-color: rgb(240, 240, 240);
  background-color: #CDE8FF;
  /*background-image: url('images/controllers.png');*/
  background-repeat: repeat-x;
  opacity: 0.9;
  border: 1px solid #666666;
}

#headercontrollersdraghandle {
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 10px;
}

#attributeaccordion {
  height: 325px;
  opacity: 0.9;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
}

.StatusBox {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.buttoncontainer {
  padding-top: 1ex;
  text-align: right;
}

#sidebar {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 400;
  width: 240px;
  height: auto;
  background-color: rgb(240, 240, 240);
  opacity: 0.9;
  padding: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 0px;
  -webkit-box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -o-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
}

.ControlContainer {
  text-align: center;
}

#sidebar h1 {
  margin: 0 0 3px 0;
  text-align: center;
  font-weight: bold;
}

form {
  padding-top: 0;
}

form#spotDataForm label {
   display: inline-block;
   width: 25%;
 }

form#spotDataForm .forminput {
  display: inline-block;
  width: 70%;
}

form#blueforcesform label {
  display: inline-block;
  width: 40%;
}

form#blueforcesform .forminput {
  display: inline-block;
  width: 55%;
}

#gazetteerContainer {
  display: inline-block;
}

#milSymIconContainerContainer {
  width: 100%;
  height: 70px;
  padding-bottom: 3px;
  text-align: center;
}

#milSymIconContainer {
  display: inline-block;
  border: 1px solid #B5BCC7;
  width: 64px;
  height: 64px;
}

#annotationreportpane .dijitTitlePaneContentInner {
  padding: 0;
}

#annotationreportpane .formpanel {
  padding: 5px 5px 5px 5px;
  /*  height: 320px; */
}

.LuciadController {
  border: 1px solid white;
  vertical-align: middle;
  display: inline-block;
  height: 21px;
  width: 21px;
  padding: 0 5px 0 0;
  margin: 0;
  opacity: 0.6;
  /*  filter: alpa(opacity=60); */
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
}

.LuciadController:hover {
  -webkit-box-shadow: 1px 1px 3px #888;
  -moz-box-shadow: 1px 1px 3px #888;
  -o-box-shadow: 1px 1px 3px #888;
  box-shadow: 1px 1px 3px #888;
}

.LuciadControllerActive {
  opacity: 1.0;
  border: 1px solid #777;
}

#spotCreateContainer {
  background: url('../resources/icons/spotcreate.png') no-repeat center center;
}

#polygonContainer {
  background: url('../resources/icons/polygon.gif') no-repeat center center;
}

#polylineContainer {
  background: url('../resources/icons/line_arrow.png') no-repeat center center;
}

.LuciadEditController {
  background: url('../resources/icons/arcby3points.png') no-repeat center center;
  width: 18px;
  height: 18px;
  text-align: center;
}

.FitAction {
  background: url('../resources/icons/magnifier.png') no-repeat center center;
  width: 18px;
  height: 18px;
  text-align: center;
}

#sidicSelector {
  width: 100%;
}