.GazetteerControl {
  padding: 0 0 0 1px;
  width: 205px;
}

.GazetteerSearchBox {
  width: 120px;
}

.GazetteerIcon {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
}

.GazetteerIcon:hover {
    box-shadow: 1px 1px 3px #888888;
}

.GazetteerSearchButton {
  background: url('../resources/icons/magnifier.png') no-repeat center center;
}

.GazetteerClearButton {
  background: url('../resources/icons/cross.png') no-repeat center center;
}