.LayerTreeNode {
  vertical-align: middle;
  position: relative;
  width: 100%;
}

.BaseLayer {
  background-color: #eee9e9;
}

.LayerTreeNode .RowContainer {
  position: absolute;
  margin: 0 auto;
  right: 1px;
  top: 4px;
  padding: 0;
}

.LayerTreeNode .RowContainer .VisibilityCheckbox {
  position: relative;
}

.LayerTreeNode .RowContainer .LayerStatus {
  width: 16px;
  height: 16px;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

.LayerTreeNode .RowContainer .LayerStatus .BusyCell {
  display: table-cell;
}

.LayerNotBusy {
}

.LayerBusy {
  background: url('busy.gif') no-repeat center center;
  background-size: 10px 10px;
}

.LayerError {
  background: url('fail.png') no-repeat center center;
  background-size: 10px 10px;
}