.luciad .lcdBalloon .lcdContent {
    max-height: 400px;
    max-width: 400px;
    width: auto;
}
#map {
  width: -moz-calc(70% - 1px);
  width: -webkit-calc(70% - 1px);
  width: calc(100% - 1px);
  left: 0;
  height: 100%;
}
#top {
    position:absolute;
	top: 50px;
	left: 10px;
        right: 10px;
}
#next {
    position:absolute;
	top: 50px;
	left: 10px;
        right: 10px;
}

#panel1 {
    font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  display: none;
  color: white;
  background-color: #1d2227;
  position: absolute;
  top: 50px;
  left: 10px;
  min-width: 200px;
  width: 620px;
  max-width:  90%;
  min-height: 200px;
  max-height: 84%;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  clear: left;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
   margin-left: 10px;
   overflow-y: scroll;
}

#panel2 {
    font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  display: none;
  color: white;
  background-color: #1d2227;
  position: absolute;
  top: 50px;
  left: 10px;
  min-width: 200px;
  width: 620px;
  max-width:  90%;
  min-height: 200px;
  max-height: 84%;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  clear: left;
  border-width: 1px;
  border-style: solid;
  border-color: #bcdb28;
  margin-top: 10px;
   margin-left: 20px;
   overflow-y: scroll;
}
#panel3 {
    min-width: 300px;
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 300;
    top: 0px;
    left: 0px;
    padding: 0 10px 10px 10px;
    background-color: #17202a;
    /*rgba(13, 20, 28, 0.95);*/
    font-size: 12px;
  opacity: 0.9;
  overflow-y: scroll;
}

#OcultarPanel {
    width: 118px;
  height: 33px;
  position: absolute;
  top: 300px;
  left: 300px;
  z-index: 150;
  background-image: url("data/img/ocultar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}

#logoIntelgeo {
  width: 120px;
  height: 48px;
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 150;
  background-image: url("data/img/logoIntelgeo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
#logoSagarpa {
  width: 230px;
  height: 110px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 150;
  background-image: url("data/sedatu-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  pointer-events: none;
}
.table {
   width: 100px;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 0px solid #FFFFFF;
   border-collapse: collapse;
   padding: 5px;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #eee;
}

.addui {
  display: none;
}

.botonTabla {
    text-decoration: none;
    padding: 0px;
    color: #ffffff;
    background:transparent; 
    border-radius: 0px;
    border: 0px ;
}
#labelImagenes {
    
}
#Imagenes {
    position: relative;
    display: table-cell;
	vertical-align: middle;
    top: 35%;
	left: 20%;
	height: 30%;
	width: 50%;
	margin: -15% 0 0 -25%;
}
.Label {
  border-radius: 7px;
  padding: 2px;
  border: 2px solid #ffffff;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}
.Label2 {
  padding: 2px;
  font: 'LeagueGothicRegular';
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000, 0 -1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, 0 1px 1px #000000;
  color: #ffffff;
}
.LabelSelected {
  border-radius: 7px;
  padding: 2px;
  border: 2px solid #ff0000;
  font: 'LeagueGothicRegular';
  text-shadow: 3px 3px 3px #000000, 3px -3px 3px #000000, -3px 3px 3px #000000, -3px -3px 3px #000000, 0 -3px 3px #000000, -3px 0 3px #000000, 3px 0 3px #000000, 0 3px 3px #000000;
  color: #ff0000;
}


#ui-id-1{
    width: 20% !important;
    border: 1px solid #c1d92a !important;
    color: #c1d92a !important;
    /*text-shadow: 0.1em 0.1em 0.1em #c1d92a;*/
}

.avoid-clicks {
    pointer-events: none;
}

.contenedor {
    width: 1080px;
    margin: auto;
    background: black;
    color: #c1d92a !important;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}
.contenedor{
    width: 1080px;
    margin: auto;
    background: black;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 2ex;
    color: #c1d92a !important;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 2.5ex;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #181818;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #c1d92a !important;
    border-bottom: #181818;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #c1d92a !important;
}

#contenidopestanas{
    clear: both;  
    background: #2E3340;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 1px solid #c1d92a !important;
    width: 100%;
}