<div class="form-inline" id="timemenu">
    <div id="lefttimemenu">
        <button id="btnToggleTimeSlider" class="btn btn-default glyphicon glyphicon-collapse-down"
                title="Show/hide time slider"></button>

        <div class="btn-divider"></div>

        <div class="btn-group">
            <button class="btn btn-default active" id="btnAnalysis">ANALYSIS</button>
            <button class="btn btn-default hidden disabled" id="btnReplay" title="To be completed">REPLAY</button>
        </div>

        <div class="btn-divider"></div>

        <div id="btnGrpCombineDays" class="btn-group-vertical hidden btnGrpCombine">
            <button class="btn btn-default btnComb" id="btnCombineAllDays">DAYS</button>
            <button class="btn btn-default btnComb" id="btnCombineAllMonths">MONTHS</button>
            <button class="btn btn-default btnComb" id="btnCombineAllYears">YEARS</button>
        </div>

        <button class="btn btn-default" id="btnCombine">AGGREGATE</button>
        <button class="btn btn-default glyphicon glyphicon-remove hidden-width" id="btnRemoveCombine"
                style="width: 40px;"></button>

        <div id="btnGrpCompare" class="btn-group-vertical hidden btnGrpCompare">
            <button class="btn btn-default" id="btnCompareDifferentTimes">CHOOSE ANOTHER TIME RANGE</button>
        </div>

        <button class="btn btn-default glyphicon glyphicon-remove hidden" id="btnRemoveCompare"></button>
    </div>

    <div id="middletimemenu">
        <div class="btn-group">
            <button class="btn btn-default glyphicon glyphicon-repeat hidden" id="btnRepeat"></button>
            <button class="btn btn-default glyphicon glyphicon-step-backward" id="btnStepBack"></button>
            <button class="btn btn-default glyphicon glyphicon-play hidden" id="btnPlay"></button>
            <button class="btn btn-default" id="btnChooseJump">1 YEAR</button>
            <div id="btnGrpChooseJump" class="btn-group-vertical hidden">
                <button class="btn btn-default btnJump" id="btnJump1Min" jumpMode="6">1 MIN</button>
                <button class="btn btn-default btnJump" id="btnJump5Min" jumpMode="5">5 MIN</button>
                <button class="btn btn-default btnJump" id="btnJump1Hour" jumpMode="4">1 HOUR</button>
                <button class="btn btn-default btnJump" id="btnJump1Day" jumpMode="3">1 DAY</button>
                <button class="btn btn-default btnJump" id="btnJump1Week" jumpMode="2">1 WEEK</button>
                <button class="btn btn-default btnJump" id="btnJump1Month" jumpMode="1">1 MONTH</button>
                <button class="btn btn-default btnJump" id="btnJump1Year" jumpMode="0">1 YEAR</button>
            </div>
            <button class="btn btn-default glyphicon glyphicon-step-forward" id="btnStepForward"></button>
        </div>
        <div class="btn-group">
            <button class="btn btn-default btnCurrentLcd disabled" id="btnCurrentTime" style="width: 82px;"></button>
            <button class="btn btn-default btnCurrentLcd" id="btnCurrentDay" style="width: 70px;">
                <span id="btnCurrentDayWeek" style="position: absolute; left: 8px; top: 6px; text-align: left;"></span>
        <span id="btnCurrentDayCenter"
              style="position: absolute; left: 8px; right: 8px; top: 6px; text-align: center;"></span>
                <span id="btnCurrentDayMonth"
                      style="position: absolute; right: 8px; top: 6px; text-align: right;"></span>
            </button>
            <button class="btn btn-default btnCurrentLcd" id="btnCurrentMonth" style="width: 112px;"></button>
            <button class="btn btn-default btnCurrentLcd" id="btnCurrentYear" style="width: 58px;"></button>
            <div class="form-group">
                <div class="input-group date" style="position:relative;" id="divChooseCurrentTime">
                    <span class="btn btn-default glyphicon glyphicon-calendar" id="btnChooseCurrentTime"></span>
                </div>
                <input type="hidden" id="currentTimePicker"/>
            </div>
        </div>
        <button class="btn btn-default" id="btnFitOverviewRange" title="Fit the overview to the bounds">
            <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
        <button class="btn btn-default glyphicon glyphicon-remove hidden" id="btnRemoveTimeFilter"></button>
    </div>
    <div id="lcdMonthPicker" class="bootstrap-datetimepicker-widget dropdown-menu usetwentyfour bottom hidden lcdPicker"
         style="top: 34px; bottom: auto; left: 0px; right: auto; display: block;">
        <ul class="list-unstyled">
            <li class="collapse in">
                <table class="table-condensed">
                    <tbody>
                    <tr>
                        <td>
                            <span class="month" month="0">JAN</span>
                            <span class="month" month="1">FEB</span>
                            <span class="month" month="2">MAR</span>
                            <span class="month" month="3">APR</span>
                            <span class="month" month="4">MAY</span>
                            <span class="month" month="5">JUN</span>
                            <span class="month" month="6">JUL</span>
                            <span class="month" month="7">AUG</span>
                            <span class="month" month="8">SEP</span>
                            <span class="month" month="9">OCT</span>
                            <span class="month" month="10">NOV</span>
                            <span class="month" month="11">DEC</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="picker-switch accordion-toggle">
                <table class="table-condensed" style="table-layout: fixed; padding: 10px;">
                    <tbody>
                    <tr>
                        <td><a id="btnMonthPickerSelectAll" title="Select all"><span>ALL</span></a></td>
                        <td><a id="btnMonthPickerSelectNone" title="Select none"><span>NONE</span></a></td>
                        <td><a id="btnMonthPickerClose" title="Close the picker"><span
                                class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div id="lcdMonthChooser"
         class="bootstrap-datetimepicker-widget dropdown-menu usetwentyfour bottom hidden lcdPicker"
         style="top: 34px; bottom: auto; left: 0px; right: auto; display: block;">
        <ul class="list-unstyled">
            <li class="collapse in">
                <table class="table-condensed">
                    <tbody>
                    <tr>
                        <td>
                            <span class="month" month="0">JAN</span>
                            <span class="month" month="1">FEB</span>
                            <span class="month" month="2">MAR</span>
                            <span class="month" month="3">APR</span>
                            <span class="month" month="4">MAY</span>
                            <span class="month" month="5">JUN</span>
                            <span class="month" month="6">JUL</span>
                            <span class="month" month="7">AUG</span>
                            <span class="month" month="8">SEP</span>
                            <span class="month" month="9">OCT</span>
                            <span class="month" month="10">NOV</span>
                            <span class="month" month="11">DEC</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="picker-switch accordion-toggle">
                <table class="table-condensed" style="table-layout: fixed; padding: 10px;">
                    <tbody>
                    <tr>
                        <td><a id="btnMonthChooserClose" title="Close the picker"><span
                                class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div id="lcdDayPicker" class="bootstrap-datetimepicker-widget dropdown-menu usetwentyfour bottom hidden lcdPicker"
         style="top: 34px; bottom: auto; left: 0px; right: auto; display: block;">
        <ul class="list-unstyled">
            <li class="collapse in">
                <table class="table-condensed">
                    <tbody>
                    <tr>
                        <td>
                            <span class="day" day="1">MON</span>
                            <span class="day" day="2">TUE</span>
                            <span class="day" day="3">WED</span>
                            <span class="day" day="4">THU</span>
                            <span class="day" day="5">FRI</span>
                            <span class="day" day="6">SAT</span>
                            <span class="day" day="0">SUN</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="picker-switch accordion-toggle">
                <table class="table-condensed" style="table-layout: fixed; padding: 10px;">
                    <tbody>
                    <tr>
                        <td><a id="btnDayPickerSelectAll" title="Select all"><span>ALL</span></a></td>
                        <td><a id="btnDayPickerSelectNone" title="Select none"><span>NONE</span></a></td>
                        <td><a id="btnDayPickerClose" title="Close the picker"><span
                                class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div id="lcdYearPicker" class="bootstrap-datetimepicker-widget dropdown-menu usetwentyfour bottom hidden lcdPicker"
         style="top: 34px; bottom: auto; left: 0px; right: auto; display: block;">
        <ul class="list-unstyled">
            <li class="collapse in">
                <table class="table-condensed">
                    <thead>
                    <tr>
                        <th class="prev disabled"><span class="glyphicon glyphicon-chevron-left"
                                                        title="Previous Decade"></span>
                        </th>
                        <th class="picker-switch" colspan="5" title="Decade">2000-2011</th>
                        <th class="next disabled"><span class="glyphicon glyphicon-chevron-right"
                                                        title="Next Decade"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="7">
                            <span class="year">2000</span>
                            <span class="year">2001</span>
                            <span class="year">2002</span>
                            <span class="year">2003</span>
                            <span class="year">2004</span>
                            <span class="year">2005</span>
                            <span class="year">2006</span>
                            <span class="year">2007</span>
                            <span class="year">2008</span>
                            <span class="year">2009</span>
                            <span class="year">2010</span>
                            <span class="year">2011</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="picker-switch accordion-toggle">
                <table class="table-condensed" style="table-layout: fixed; padding: 10px;">
                    <tbody>
                    <tr>
                        <td><a id="btnYearPickerSelectAll" title="Select all"><span>ALL</span></a></td>
                        <td><a id="btnYearPickerSelectNone" title="Select none"><span>NONE</span></a></td>
                        <td><a id="btnYearPickerClose" title="Close the picker"><span
                                class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>

    <div id="righttimemenu">
        <button class="btn btn-default" id="btnFitTimeRange" title="Fit the bounds to the overview">
      <span style="-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); "
            class="glyphicon glyphicon-resize-full"></span>
        </button>

        <input onmousedown='return false;' onselectstart='return false;'
               id="inpTimeRange" type="text" value="">
        <!--11 years 168 days 12 hours 16 min-->
        <button class="btn btn-default glyphicon glyphicon-lock hidden" id="btnLockRange"></button>
        <button class="btn btn-default glyphicon glyphicon-edit" id="btnChooseRange"></button>

        <div class="container hidden" id="btnGrpChooseRange">
            <div class="row">
                <div class="btn-group-horizontal col-md-6" id="btnGrpChooseHours">
                    <button class="btn btn-default" id="btnRangeHoursMin">-</button>
                    <input class="inpRangeLcd" id="inpRangeHours" value="12">
                    <button class="btn btn-default btnRangeLcd" id="btnRangeHours">HOURS</button>
                    <button class="btn btn-default" id="btnRangeHoursPlus">+</button>
                </div>
                <div class="btn-group-horizontal col-md-6" id="btnGrpChooseMinutes">
                    <button class="btn btn-default" id="btnRangeMinutesMin">-</button>
                    <input class="inpRangeLcd" id="inpRangeMinutes" value="16">
                    <button class="btn btn-default btnRangeLcd" id="btnRangeMinutes">MIN</button>
                    <button class="btn btn-default" id="btnRangeMinutesPlus">+</button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group-horizontal col-md-6" id="btnGrpChooseYears">
                    <button class="btn btn-default" id="btnRangeYearsMin">-</button>
                    <input class="inpRangeLcd" id="inpRangeYears" value="11">
                    <button class="btn btn-default btnRangeLcd" id="btnRangeYears">YEARS</button>
                    <button class="btn btn-default" id="btnRangeYearsPlus">+</button>
                </div>
                <div class="btn-group-horizontal col-md-6" id="btnGrpChooseDays">
                    <button class="btn btn-default" id="btnRangeDaysMin">-</button>
                    <input class="inpRangeLcd" id="inpRangeDays" value="168">
                    <button class="btn btn-default btnRangeLcd" id="btnRangeDays">DAYS</button>
                    <button class="btn btn-default" id="btnRangeDaysPlus">+</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="form-inline collapse in" id="afterafter">
    <div class="form-group">
        <div class="input-group date lcd-datetimelabel" style="position:relative;" id="datetimelabelstart">
            <span class="lcd-timelabel" id="timelabelstart"></span>
            <span class="lcd-datelabel" id="datelabelstart"></span>
        </div>
        <input type="hidden" id="timelabelstartpicker" style="width: 100%;"/>
    </div>

    <div id="timeSliderOverview">
    </div>
    <div class="form-group" style="position: absolute; right: 0px;">
        <div class="input-group date lcd-datetimelabel" style="position:relative;" id="datetimelabelend">
            <span class="lcd-timelabel" id="timelabelend"></span>
            <span class="lcd-datelabel" id="datelabelend"></span>
        </div>
        <input type="hidden" id="timelabelendpicker"/>
    </div>
    <div id="timeSlider"></div>
</div>

<div id="logo-luciad"></div>
