.contextMenu {
  min-width: 130px;
  min-height: 50px;
  position: absolute;
  background-color: rgb(23, 28, 34);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 900;
}

.contextMenu.contextMenuOpen {
  display: block;
}

.contextMenu.contextMenuClosed {
  display: none;
}

.contextMenuItem {
  color: white;
  line-height: 50px;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}

.contextMenuItem:hover {
  background-color: rgb(43, 53, 64);
}

.contextMenuItem.separator {
  height: 1px;
  background-color: white;
}

.contextMenuItem .checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}