.luciad .lcdSymbologyLabel {
  font-family: Arial, monospace;
  font-weight: normal;
  color: white;
  font-size: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1)
}
.lcdSymbologyLabelSpan {
  vertical-align:middle;
  height:100%;
  display:inline-block
}

.lcdSymbologyLtrSpan {
  direction: ltr;
  display: inline-block
}