.PanDisplay {
    position: absolute;
    z-index: 200;
    bottom: 15px;
    left: 40px;
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-position: 0px 0px;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-repeat: no-repeat;
}

.PanDisplay .Pan {
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 18px;
    height: 18px;
}

.PanDisplay .PanUp {
    top: 0px;
    left: 18px;
    stroke: white;
    background-size:18px 18px;
}

.PanDisplay .PanUp:hover {
    stroke: #bcdb28;
}

.PanDisplay .PanUp:active {
    stroke: #bcdb28;
    top: 1px;
}

.PanDisplay .PanDown {
    top: 36px;
    left: 18px;
    stroke: white;
    background-size:18px 18px;
}

.PanDisplay .PanDown:hover {
    stroke: #bcdb28;
}

.PanDisplay .PanDown:active {
    stroke: #bcdb28;
    top: 37px;
}

.PanDisplay .PanLeft {
    top: 18px;
    left: 0px;
    stroke: white;
    background-size:18px 18px;
}

.PanDisplay .PanLeft:active {
    stroke: #bcdb28;
}

.PanDisplay .PanLeft:active {
    stroke: #bcdb28;
    top: 19px;
}

.PanDisplay .PanRight {
    top: 18px;
    left: 36px;
    stroke: white;
    background-size:18px 18px;
}

.PanDisplay .PanRight:hover {
    stroke: #bcdb28;
}

.PanDisplay .PanRight:active {
    stroke: #bcdb28;
    top: 19px;
}
