.MouseZoomControl {
  position: absolute;
  z-index: 201;
  bottom: 10px;
  left: 10px;
  width: 0;
  height: 0;
  opacity: 0.8;
}

.MouseZoomControl .Zoom {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.MouseZoomControl .ZoomIn {
  stroke: white;
  bottom: 32px;
  left: 0;
}

.MouseZoomControl .ZoomIn:hover {
  stroke: #bcdb28;
}

.MouseZoomControl .ZoomIn:active {
  stroke: #bcdb28;
  bottom: 31px;
}

.MouseZoomControl .ZoomOut {
  stroke: white;
  bottom: 0;
  left: 0;
}

.MouseZoomControl .ZoomOut:hover {
  stroke: #bcdb28;
}

.MouseZoomControl .ZoomOut:active {
  stroke: #bcdb28;
  bottom: -1px;
}

.TouchZoomControl {
  position: absolute;
  z-index: 200;
  left: 10px;
  bottom: 10px;
  width: 50px;
  height: 101px;
}

.TouchZoomControl .Zoom {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.TouchZoomControl .ZoomIn {
  stroke: white;
  bottom: 52px;
  left: 0;
  background-position: -50px 0;
}

.TouchZoomControl .ZoomIn:active {
  stroke: #bcdb28;
  bottom: 51px;
}

.TouchZoomControl .ZoomOut {
  stroke: white;
  bottom: 0;
  left: 0;
  background-position: 0 0;
}

.TouchZoomControl .ZoomOut:active {
  stroke: #bcdb28;
  bottom: -1px;
}