#map {
  width: 60%;
  background-color: white;
}

#right {
  width: 40%;
}

#editorPane {
  background-color: black;
  width: 100%;
  height: 100%;
}

#editorContainer {
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#editorButtons {
  padding: 5px 0 0 0;
  margin: 0;
  border: 0;
  height: 35px;
  width: 100%;
  text-align: right;
}

#editor {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 32000;
  background-color: #FFFFFF;
}

#loadingContainer {
  text-align: center;
  height: 600px;
}

#loadingContainer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#loading {
  display: inline-block;
  width: 335px;
  padding: 10px 15px;
  border: 1px solid #aaaaaa;
}

#loadingMessage {
  font-size: 2em;
}

.dijitDialog, #loading {
  color: black;
}