.button {
  position: relative
}

.pressed {
  box-shadow: 4px 4px 3px #215cae !important;
  top: 2px !important;
}

#buttonToolbar {
    position: absolute;
    top: 10px;
    left: 80px;
    z-index: 600;
}

.nobootstrap button {
  width: auto;
  height: 0%;
  background-color: #c9c8cf;
  display: inline;
}